<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/tunisair_logo.png"/>
        </div>
        TUNISAIR
    </a>
</div>
<div class="sidebar-wrapper">

    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>

    <div *ngIf="isMobileMenu()">

        <ul class="nav navbar-nav nav-mobile-menu">
    
            <li class="nav-item"  (click)="logout()" >
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">logout</i>
                    <p>
                        <span class="d-lg-none d-md-block">Logout</span>
                    </p>
                </a>
            </li>
        </ul>
      </div>
</div>
